@import '../styles/modules/all';

.header {
    margin-bottom: 2 * $spacing;
    text-align: center;
}

.title {
    margin-bottom: $spacing;
}

.unstyled-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
