@import './modules/all';

* {
    font-family: "Libre Baskerville", serif;
    color: $text-color;
    line-height: 1.75;
}

html {
    border-top: 4px solid $primary-color;
}

a {
    color: $text-color;
    text-decoration: none;

    &:hover {
        color: $primary-color;
    }
}

p a {
    text-decoration: underline;
}

figure {
    margin: 0;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    font-size: $font-size-small;
    color: #888888;
}

::selection {
    background-color: $light-primary-color;
}

.text-center {
    text-align: center;
}
