@import './modules/all';

* {
    font-family: "Libre Baskerville", serif;
    color: $text-color;
    line-height: 1.75;
}

html {
    border-top: 4px solid $primary-color;
}

a {
    color: $text-color;
    text-decoration: none;

    &:hover {
        color: $primary-color;
    }
}

::selection {
    background-color: $light-primary-color;
}

.text-center {
    text-align: center;
}
