@import '../../styles/modules/all';

.nav,
.footer {
    max-width: 1000px + 2 * $spacing;
    padding-left: $spacing;
    padding-right: $spacing;
    margin: (2 * $spacing) auto;
    overflow-wrap: break-word;
}

.content {
    max-width: 680px + 2 * $spacing;
    padding-left: $spacing;
    padding-right: $spacing;
    margin: (4 * $spacing) auto (8 * $spacing);
    overflow-wrap: break-word;
}
