@import '../../styles/modules/all';

.post {
    margin-bottom: $spacing * 3;
}

.title {
    margin-bottom: 0;
}

.text {
    margin-top: $spacing;
    padding-left: $spacing;
    border-left: 2px solid $text-color;
}

.read-more {
    display: inline;
}

.read-more {
    margin-left: 5px;
}

.metadata {
    font-style: italic;
}
