@import "../../styles/modules/all";

.header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2 * $spacing;
}

.brand-wrapper {
    flex-grow: 1;
}

.brand {
    font-size: 30px;
    font-weight: bold;
}

.menu {
    list-style: none;
    margin: 0;
}

.btn-link {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    color: #404040;

    &:hover {
        color: #d77d0b;
        cursor: pointer;
    }
}
