@import "../../../styles/modules/all";

.nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;
    background: white;

    &.sticky {
        box-shadow: 2px 2px 2px 2px black;
    }
}

.brand-wrapper {
    flex-grow: 1;
}

.brand {
    font-size: 20px;
    font-weight: bold;
    @media only screen and (min-width: 768px) {
        font-size: 25px;
    }
    @media only screen and (min-width: 992px) {
        font-size: 30px;
    }
}

.menu-item {
    &:not(:last-child) {
        margin-right: 2 * $spacing;
    }
}

.category {
    display: none;

    @media only screen and (min-width: 768px) {
        display: block;
    }
}

.translations {
    list-style: none;
    margin: 0;
    padding: 0;

    .translation {
        @extend %btn-link;
    }
}
