@import "../../../styles/modules/all";

.nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;
    background: white;

    &.sticky {
        box-shadow: 2px 2px 2px 2px black;
    }
}

.brand-wrapper {
    flex-grow: 1;
}

.brand {
    font-size: 30px;
    font-weight: bold;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn-link {
    font-size: $font-size-base;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    color: $text-color;

    &:hover {
        color: $primary-color;
        cursor: pointer;
    }
}
